/*======================================
//--//-->   STYLES AUTHORS
======================================*/

.card-footer-e {
  width: 100%;
  position: absolute;
  z-index: 2;
  background-color: #2eca6a;
  margin-top: 100%;
}

.card-info-title-color {
    color: #ffffff !important;
}