/*======================================
//--//-->   STYLES BOOK 
======================================*/

.price-button {
  color: #000000;
  padding: .6rem .8rem;
  border: 2px solid #555555;
  border-radius: 0px;
  letter-spacing: 0.030em;
  cursor: pointer;
  line-height: initial;

}

.price-button.active {
  border: 3px solid #2eca6a;
}

.price-box{
    padding: 20px 10px 20px 10px;
    line-height: 45px;
}

.col-centered{
    float: none;
    margin: 0 auto;
    display: inherit;
}

.book_carousel{
    width: 175px!important;
    margin-right: 10px!important;
}


/*======================================
//--//-->   STYLES BOOKS GRID
======================================*/
.h6_sidebar_margin{
    margin-bottom: 0px;
}

.book_desc{
    padding-left: 10px;
    padding-right: 10px;
}

.book_rating{
    text-align: center;
}

.book_author{
    padding-top: 10px; 
    padding-bottom: 0px;
}

.book_title{
    padding-top: 0px;
}

.price_text,
.rating_text{
    display: inline;
}

@media screen and (max-width: 1200px) {
    .price_text,
    .rating_text{
        display: none;
    }
}


@media screen and (max-width: 992px) {
    .book_title{
        font-size: 15px !important;
    }
}

@media screen and (max-width: 575px) {
    .book_title{
        font-size: initial !important;
    }
    .price_text,
    .rating_text{
        display: inline;
    }
}

/*======================================
//--//-->   STYLES BOOKS FILTERS
======================================*/

.filters-body{
	flex: 1 1 auto;
    padding: 10px 0px 10px 5px;
}

.form-check{
	 padding: 0px 10px 0px 10px;
}