/*======================================
//--//-->   STYLES INDEX
======================================*/

/* New Booksa */
.book_rating{
    text-align: center;
}

.book_author{
    padding-top: 10px; 
    padding-bottom: 0px;
}

.book_title{
    padding-top: 0px;
}

/*feature authir*/
/* Bottom left text */
.container_img .bottom_center {
  position: absolute; /* Position the background text */
  bottom: 0; /* At the bottom. Use top:0 to append it to the top */
  background: #2eca6a; /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1; /* Grey text */
  width: 100%; /* Full width */
  padding: 20px; /* Some padding */
}

.color_white{
    color: #f1f1f1; /* Grey text */
}