/*======================================
//--//-->   STYLE SEARCH INSERT FORM 
======================================*/

.grid-option .custom-input {
    border-radius: 0;
    width: 200px;
    border-color: #313131;
    display: inline-block;
    height: calc(2.25rem + 2px);
    padding: .375rem 1.75rem .375rem .75rem;
    line-height: 1.5;
}